{

    "rules" : {
        "no-unused-vars": 0,
        "no-undef": 0
    },

    "extends": "eslint:recommended",

    "parserOptions": {
        "ecmaVersion": 2017
    },

    "env": {
        "es6": true
    }
}